
<div class="container">
  <h1><%= @post.title %> | <%= @post.hits %> hits</h1>
  <% @post.post_items.each do |post_item| %>
    <div class="wrapper editable">
      <% unless post_item.image_title.blank? %>
        <h4><%= raw @markdown.render(post_item.image_title) %></h4>
      <% end %>
      <% unless post_item.image.blank? %>
        <button class="image-zoom">click to zoom</button>
        <%= image_tag post_item.image.url(:full), class: "img-item" %>
      <% end %>
      <% unless post_item.description.blank? %>
        <p><%= @markdown.render(post_item.description).html_safe %></p>
      <% end %>
    </div>
  <% end %>
</div>
