<!DOCTYPE html>
<html>
<head>
  <title><%= configure_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |key, msg| %>
    <div class="alert alert-<%= key %>"><%= msg.html_safe %></div>
  <% end %>

  <%= yield %>

  <% if yield(:noFooter).empty? %>
    <%= render 'layouts/footer' %>
  <% else %>
    <%= render 'layouts/showFooter' %>
  <% end %>

</body>
</html>
